.text-label{
    font-size: 12px;
    font-weight: bold;
}

.label-category{
    height: 20px;
    background-color:white;
    border: 1px solid #29b7da;
    border-radius: 2px;
    display: flex;
    padding: 1px 3px;
    width: max-content;
    margin-left: 5px;
    align-items: center;
}

.label-category > p{
    margin-right: 5px;
}

button {
    all: unset; 
    cursor: pointer; 
}

button > span{
    background-color: #29b7da;
    border-radius: 2px;
    padding: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 20px;
    font-size: 12px;
    font-weight: 700;
    transition: background-color 0.3s ease; 
}
