<div class="background-image">
    <h1> Book Store </h1>
    <app-search-bar (searchChange)="onFilterChange($event)"></app-search-bar>
    <div class="book-list">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books$ | async">
                        <td>{{ capitalizeFirst(book["title"]) }}</td>
                        <td>{{ capitalizeTitle(book["author"]["name"]) }}</td>
                        <td class="category-col">
                            <app-label-category *ngFor="let category of book.categories"
                            [id]="book.id"
                            [textContent]="category.name"
                            (onClick)="handleClickLabel($event)"
                            ></app-label-category>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

